{% load crispy_forms_filters daisyui_field %}
{% load l10n %}

<select
  name="{{ field.html_name }}"
  id="{{ field.id_for_label }}"
  {% if field.field.widget.allow_multiple_selected %}multiple{% endif %}
  {% widget_attrs_tag field "select w-full" "select-error" %}>
  {% for group, options, index in field|optgroups %}
    {% if group %}<optgroup label="{{ group }}">{% endif %}
    {% for option in options %}
      {% include "daisyui/layout/select_option.html" with value=option.value label=option.label selected=option.attrs.selected %}
    {% endfor %}
    {% if group %}</optgroup>{% endif %}
  {% endfor %}
</select>
